<div class="  bra text-center py-5 ">
    <h1 style="text-transform: capitalize;" class="text-white">about component</h1>
   
        <div class=" d-flex justify-content-center align-items-center ">
            <div class="before me-3 bg-white "></div>
            <i class="fa-solid fa-star fs-6 text-white"></i>
            <div class="after ms-3 bg-white"></div>
        </div>
        <div class="container ">
            <div class="row text-white px-5 py-3 text-start ">
                <div class="col-md-6 "><p>Freelancer is a free bootstrap theme created by Route. The download includes the complete
                    source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p></div>
                <div class="col-md-6 "><p>Freelancer is a free bootstrap theme created by Route. The download includes the complete
                    source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p></div>
            </div>
    
    
        </div>
          </div>
